@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype"); }

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype"); }

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype"); }

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype"); }

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype"); }

h1 {
  font-size: black;
  color: 12px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h2 {
  font-size: rgba(0, 0, 0, 0.8);
  color: 48px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h3 {
  font-size: rgba(0, 0, 0, 0.6);
  color: 36px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h4 {
  font-size: rgba(0, 0, 0, 0.4);
  color: 28px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h5 {
  font-size: rgba(0, 0, 0, 0.3);
  color: 20px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

p {
  font-size: rgba(0, 0, 0, 0.3);
  color: 16px;
  font-family: font_p;
  text-align: center;
  letter-spacing: 2px; }

.fontP-bg {
  background-image: url("./img/fontP.jpg");
  width: 300px; }

.itemP-bg {
  background-image: url("./img/itemP.jpg");
  width: 300px; }

.productsP-bg {
  background-image: url("./img/productsP.jpg");
  width: 300px; }

.iteamP-bg {
  background-image: url("./img/iteamP.jpg");
  width: 300px; }

.col-md-1 {
  width: 8.33333%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-12 {
  width: 100%; }

.txt {
  font-size: 20px;
  color: green;
  padding: 10px; }

@media all and (max-width: 767px) {
  body {
    font-size: 16px; } }

@media all and (min-width: 996px) {
  body {
    font-size: 16px; } }

@media all and (min-width: 997px) {
  body {
    font-size: 16px; } }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.header_cloud {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden; }
  .header_cloud .cloudF {
    width: 3500px;
    height: 3450px;
    border-radius: 50%;
    background-color: #ffc;
    position: absolute;
    left: -600px;
    top: -3390px;
    animation: cloudF 25s infinite linear; }

@keyframes cloudF {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .header_cloud .cloudF::before {
      content: '';
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-color: #ffd;
      position: absolute;
      left: 0;
      top: 0;
      animation: cloudF 27s infinite linear; }
  .header_cloud .cloudB {
    width: 3500px;
    height: 3450px;
    border-radius: 50%;
    background-color: #ffc;
    position: absolute;
    left: -1350px;
    top: -3390px;
    animation: cloudB 25s infinite linear; }

@keyframes cloudB {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .header_cloud .cloudB::before {
      content: '';
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-color: #ffd;
      position: absolute;
      right: 0;
      top: 0;
      animation: cloudB 27s infinite linear; }
  .header_cloud .cloudR {
    width: 3500px;
    height: 3450px;
    border-radius: 50%;
    background-color: #ffc;
    position: absolute;
    left: 0px;
    top: -3390px;
    animation: cloudR 25s infinite linear; }

@keyframes cloudR {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .header_cloud .cloudR::before {
      content: '';
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-color: #ffd;
      position: absolute;
      left: 0;
      top: 0;
      animation: cloudR 27s infinite linear; }

.header_container {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0; }
  .header_container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    .header_container .content .box {
      width: 700px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .header_container .content .box a {
        color: #222; }
      .header_container .content .box .logo {
        cursor: pointer;
        width: 50px; }
        .header_container .content .box .logo img {
          width: 100%; }
    .header_container .content .content_icon {
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .header_container .content .content_icon .user_pic, .header_container .content .content_icon .store_pic {
        cursor: pointer;
        width: 35px;
        height: 35px; }
      .header_container .content .content_icon img {
        width: 100%;
        height: 100%; }

.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 220px;
  background: url("/scss/img/footerIamge.png") no-repeat;
  background-size: 100%; }
  .footer_container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px; }
    .footer_container .content .box {
      display: flex;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%; }
      .footer_container .content .box .item_txt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
        width: 350px;
        height: 200px; }
        .footer_container .content .box .item_txt p {
          font-size: 21px;
          line-height: 1.5;
          background-color: #f2c4BB;
          color: #522411; }
