@charset "UTF-8";
@font-face {
  font-family: "font_p";
  src: url("../scss/font/03SmartFont-P.ttf") format("truetype"); }

@font-face {
  font-family: "font_title";
  src: url("../scss/font/HanaMinA.ttf") format("truetype"); }

@font-face {
  font-family: "font_nav";
  src: url("../scss/font/font_1_kokumr_1.00_rls.ttf") format("truetype"); }

@font-face {
  font-family: "font_2";
  src: url("../scss/font/imagine YOKOHAMA.otf") format("truetype"); }

@font-face {
  font-family: "font_cart";
  src: url("../scss/font/SoukouMincho.ttf") format("truetype"); }

h1 {
  font-size: black;
  color: 12px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h2 {
  font-size: rgba(0, 0, 0, 0.8);
  color: 48px;
  font-family: "font_title";
  text-align: center;
  letter-spacing: 2px; }

h3 {
  font-size: rgba(0, 0, 0, 0.6);
  color: 36px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h4 {
  font-size: rgba(0, 0, 0, 0.4);
  color: 28px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

h5 {
  font-size: rgba(0, 0, 0, 0.3);
  color: 20px;
  font-family: font_title;
  text-align: center;
  letter-spacing: 2px; }

p {
  font-size: rgba(0, 0, 0, 0.3);
  color: 16px;
  font-family: font_2;
  text-align: center;
  letter-spacing: 2px; }

header {
  width: 100%;
  padding-bottom: 10%;
  position: fixrd; }
  header .header_cloud {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: absolute;
    overflow: hidden;
    z-index: -3; }
    header .header_cloud .cloudF {
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      left: -600px;
      top: -3390px;
      animation: cloudF 25s infinite linear; }

@keyframes cloudF {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .cloudF header .header_cloud:before {
      content: "";
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      left: 0;
      top: 0;
      animation: cloudF 27s infinite linear; }
    header .header_cloud .cloudB {
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      left: -1350px;
      top: -3390px;
      animation: cloudB 25s infinite linear; }

@keyframes cloudB {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    .cloudB header .header_cloud:before {
      content: "";
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      right: 0;
      top: 0;
      animation: cloudB 27s infinite linear; }
    header .header_cloud .cloudR {
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      left: 0px;
      top: -3390px;
      animation: cloudR 25s infinite linear; }

@keyframes cloudR {
  form {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
    header .header_cloud .cloudR::before {
      content: "";
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-image: linear-gradient(to top, #fbffe8 0%, #eef1f5 100%);
      position: absolute;
      left: 0;
      top: 0;
      animation: cloudR 27s infinite linear; }
    header .header_cloud #menu_ct {
      position: absolute;
      z-index: -1;
      opacity: 0; }
  header nav {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    /*蓋住下方*/
    transition: all 1s;
    display: flex; }
    header nav ul {
      width: 100%;
      max-width: 800px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      padding-top: 20px; }

#menu_ct:checked ~ .header_container .bar1 {
  top: 17px;
  transform: rotate(45deg); }

#menu_ct:checked ~ .header_container .bar2 {
  opacity: 0; }

#menu_ct:checked ~ .header_container .bar3 {
  bottom: 17px;
  transform: rotate(-45deg); }

#menu_ct:checked ~ .header_container nav ul {
  transform: translateX(0px); }

footer .footer_container {
  margin-top: 10%;
  display: block;
  width: 100%;
  height: 100%; }
  footer .footer_container .content img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1; }
  footer .footer_container .content .box .item_txt {
    position: relative;
    z-index: 1;
    line-height: 1.5;
    padding: 10px 0; }

@media screen and (max-width: 768px) {
  .footer_container .item_txt {
    position: relative;
    z-index: 1;
    font-size: 12px;
    line-height: 1.2;
    padding: 10px 0; } }
