
@import "basic/var1.scss";
@import "mixins/mixin1.scss";
@import "page/moblie.scss";
@include title-modules(
h1 rgba(0,0,0,1) 12px 'font_title',
h2 rgba(0,0,0,.8) 48px 'font_title',
h3 rgba(0,0,0,.6) 36px font_title,
h4 rgba(0,0,0,.4) 28px font_title,
h5 rgba(0,0,0,.3) 20px font_title,
p rgba(0,0,0,.3) 16px font_2,
);
//font_title
*{
	margin : 0;
	padding : 0;
	list-style : none;
	text-decoration:none;
	//outline : 1px solid rgba(33,33,33,.5);
}
.clear_fix{
	clear:both;
}
.header_fulsec{
	width:0;
	height: 130px;
}
.fp_aboutus_wrapper{
width:100%;
//background-color:#ECEED0;
position:relative;
.bg_settin{
	width:100vw;
	height:100%;
	max-height:960px;
	position:fixed;
	z-index:-1;
	.glass_bg{
		@include glassBG();
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		z-index:-1;
		.animation_item{
			width:100%;
			max-width:1200px;
			height:100%;
			margin:auto;
			position:absolute;
			top:0;
			right:0;
			left:0;
			bottom:0;
			.cloud{
				width:70%;
				height:20%;
				margin:auto;
				padding:9% 0 0;
				box-sizing:border-box;
				position:relative;
				.cloud_item{
					width:150px;
					height:50px;
					position:relative;
				}
				#go_left_cloud{
					animation: cloudmoveleft 13s 0 infinite linear alternate;
					top:10%;
					left:25%;

				}
				#go_right_cloud{
					animation: cloudmoveright 11s 0 infinite linear alternate;
					top:25%;
					left:45%;
				}
				@keyframes cloudmoveleft{
					from {transform:translateX(0)} 
					to{transform:translateX(50%)}
				}
				@keyframes cloudmoveright{
					from {transform:translateX(0)} 
					to{transform:translateX(-65%)}
				}
			}
			.tree{
				width:70%;
				height:25%;
				margin:auto;
				padding:100px 0 0;
				box-sizing:border-box;
				position:relative;
				.tree_item{
					width:110px;
					height:144px;
					position:relative;
				}
				#swag_right_tree{
					transform-origin: 55px 150px;
					animation: treeswagright 8s 0 infinite linear alternate;
					top:40%;
					left:11%;
				}
				#swag_left_tree{
					transform-origin: 55px 150px;
					animation: treeswagleft 8s 0 infinite linear alternate;
					top:55%;
					left:50%;
				}
				@keyframes treeswagright{
					from {transform:rotate(3deg)} 
					to{transform:rotate(16deg)}
				}
				@keyframes treeswagleft{
					from {transform:rotate(-3deg)} 
					to{transform:rotate(-16deg)}
				}
			}
		}
	}
	.paper_bg{
		width:100%;
		height:100%;
		background-image:url('../scss/img/auimg/paperBG.png');
	}
}
.idea_introduction{
	width:100%;
	height:960px;
	position:relative;
	z-index:1;
	overflow:hidden;
	.begin_animation{
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		.move_left_tree{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:-360px;
			right:0;
			bottom:0;
		}
		.move_right_tree{
			width:100%;
			height:100%;
			position:absolute;
			top:0;
			left:0;
			right:-360px;
			bottom:0;
		}
	}
	.container{
		width:100%;
		max-width:1200px;
		margin:auto;

		.txt{
			width:70%;
			padding:70px 0 0;
			margin:auto;
			h2{
				width:500px;
				height:89px;
				line-height:89px;
				margin: 5px auto 20px;
				//background-color:#F7E9C3;
				position:relative;
				.title_bg{
					width:359px;
					height:89px;
					position:absolute;
					top:0;
					left:0;
					right:0;
					margin:auto;
					z-index:-1;
				}
				#littlebird{
					width:35px;
					height:12.5px;
					position:absolute;
					top:0;
					left:0;
					right:0;
					margin:auto;
					transform-orgin:40px 15px;
					transform:translateX(177%) translateY(50%) rotate(10deg);
					animation:littlebirdswagleft 3s 0 infinite ease-in alternate;
				}
				@keyframes littlebirdswagleft{
					from{
					transform:translateX(177%) translateY(45%) rotate(-2deg);}
					to{
					transform:translateX(177%) translateY(55%) rotate(10deg);}
				}
			}
			.idea_txtin{
				.txt_bg{
					background-color: rgba(255,255,255,.5);
					p{
						padding:5px 7px;
						margin:auto;
					}
					.first_txt_sec{
						width:85%;
					}
					.second_txt_sec{
						width:75%;
					}
					.third_txt_sec{
						width:80%;
					}
				}
				
				.basket_settin{
					display: block;
					width:203px;
					height:197px;
					margin:auto;
				}
			}
			
		}
	}	
}
.webstory_introduction{
	width:100%;
	position:relative;
	z-index:1;
	overflow:hidden;
	.container{
		width:100%;
		height:2800px;
		max-width:1200px;
		margin:auto;
		position:relative;
		//background-color:#fa0;
		h2{
			width:500px;
			height:89px;
			line-height:89px;
			margin: 5px auto 20px;
			//background-color:#F7E9C3;
			position:relative;
			.title_bg{
				width:359px;
				height:89px;
				position:absolute;
				top:0;
				left:0;
				right:0;
				margin:auto;
				z-index:-1;
			}
			#bullon_setin{
				width:100px;
				height:127px;
				position:absolute;
				top:-50px;
				right:45px;
				transform-origin:50px 135px;
				animation: bullonflow 2.5s 0s infinite ease alternate;
			}
			#squirrel_withbullon_setin{
				width:100px;
				height:100px;
				position:absolute;
				bottom:-82px;
				right:0px;
				transform-origin:-1px 15px;
				animation: squirrelwithbullonflow 2.5s 0s infinite ease alternate;
			}
			@keyframes bullonflow{
				from{transform:translateX(-2px) translateY(0) rotate(2deg)}
				to{transform:translateX(2px) translateY(3px) rotate(-2deg)}
			}
			@keyframes squirrelwithbullonflow{
				from{transform:translateX(-2px) translateY(0) rotate(2deg)}
				to{transform:translateX(2px) translateY(3px) rotate(-2deg)}
			}
		}
		.first_step_customize{
			width:100%;
			height:500px;
			padding:200px 0 0;
			position:absolute;
			box-sizing:border-box;
			.step_list{
				width:470px;
				padding:10px 0 0;
				position:relative;
				margin:auto;
				.step_line{
					display:block;
					width:320px;
					margin:auto;
				}
				.step_item{
					width:60px;
					height:60px;
					position:relative;
					.step_bg{
						width:60px;
						height:60px;
					}
					.step_num{
						width:60px;
						height:60px;
						line-height:60px;
						font-size:24px;
						font-family:font_title;
						text-align:center;
						color:rgba(0,0,0,.5);
						position:absolute;
						top:0;
						left:0;
						right:0;
						bottom:0;
					}
				}
				.step_1{
					position:absolute;
					right:0;
				}
				.step_2{
					position:absolute;
					right:0;
				}
				.step_3{
					position:absolute;
					right:0;
				}
				.step_4{
					position:absolute;
					right:0;
				}
				.step_5{
					position:absolute;
					right:0;
				}
			}
			.basket_settin{
				display:block;
				width:203px;
				height:197px;
				margin:auto;
				position:absolute;
				bottom:50px;
				left:0;
				right:0;
			}
		}
		.second_step_customize{
			width:100%;
			height:500px;
			padding:900px 0 0;
			position:absolute;
			box-sizing:border-box;
			.context{
				width:470px;
				padding:10px 0 0;
				position:relative;
				margin:auto;
				text-align:center;
				.customize_basket{
					width:200px;
					height:194px;
				}
				.like_information{
					text-align:center;
					.like_img{
						width:44px;
						height:35px;
						vertical-align:middle;
					}
					.like_num{
						display:inline-block;
						width:70px;
						height:35px;
						line-height:35px;
					}
				}
			}
		}
		.third_step_customize{
			width:100%;
			height:500px;
			padding:1500px 0 0;
			position:absolute;
			box-sizing:border-box;
			.context{
				width:670px;
				height:300px;
				padding:10px 0 0;
				position:relative;
				margin:auto;
				text-align:center;
				.customize_basket{
					width:200px;
					height:194px;
				}
				.third_step_basket{
					display:inline-block;
					vertical-align:middle;
				}
				.tableware_settin{
					display:inline-block;
					width:256px;
					height:256px;
					text-align:center;
					vertical-align:middle;
					position:relative;
					.chopping_board{
						width:256px;
						height:256px;
						animation:step3choppingboardflow 3s 0 infinite linear alternate;
					}
					.fork_settin{
						width:160px;
						height:160px;
						position:absolute;
						top:-20px;
						right:50px;
						transform-origin: 160px 0;
						animation:step3forkflow 3s 0 infinite linear alternate;
					}
					.spoon_settin{
						width:160px;
						height:160px;
						position:absolute;
						top:10px;
						right:-20px;
						transform-origin: 0px 160px;
						animation:step3spoonflow 3s 0 infinite linear alternate;
					}
					@keyframes step3forkflow{
						from{ transform: rotate(0deg) scale(1)}
						to{ transform: rotate(13deg) scale(1.05)}
					}
					@keyframes step3spoonflow{
						from{ transform: rotate(12deg) scale(1.02)}
						to{ transform: rotate(25deg) scale(1.06)}
					}
					@keyframes step3choppingboardflow{
						from{ transform: skew(0deg) scale(1)}
						to{ transform: skew(5deg) scale(1.06)}
					}
				}
			}
		}
		.goto_activity{
			width:100%;
			height:500px;
			padding:2100px 0 0;
			position:absolute;
			box-sizing:border-box;
			.activity_settin{
				width:670px;
				height:300px;
				padding:20px 0 0;
				position:relative;
				margin:auto;
				text-align:center;
				.picnicbg_settin{
					width:500px;
					height:262px;
					position:absolute;
					bottom:0px;
					left:0;
					right:0;
					margin:auto;
					.mat_settin{
						width:500px;
						height:262px;
					}
				}
				.picnicfood_settin{
					width:500px;
					height:262px;
					position:absolute;
					bottom:0px;
					left:0;
					right:0;
					margin:auto;
					.food{
						width:200px;
						height:194px;
						position:absolute;
						left:0;
						right:0;
						margin:auto;
						.breads_settin{
							//display:inline-block;
							position:absolute;
						}
						.bread_a{
							width:100px;
							height:132px;
							top:-10px;
							left:20px;
							transform-origin:100px 150px;
							animation:breadaflow 4s 0 infinite linear alternate;
						}
						.bread_b{
							width:120px;
							height:108px;
							top:0px;
							left:-20px;
							transform-origin:160px 150px;
							animation:breadbflow 3s 0 infinite linear alternate;
						}
						.bread_c{
							width:150px;
							height:60px;
							top:35px;
							left:-50px;
							transform-origin:220px 155px;
							animation:breadcflow 4s 0 infinite linear alternate;
						}
						.fruit_settin{
							width:150px;
							height:136px;
							top:30px;
							left:40px;
							position:absolute;
							animation:fruitflow 4s 0 infinite linear alternate;
						}
						@keyframes breadaflow{
							from{transform:rotate(0deg)}
							from{transform:rotate(5deg)}
						}
						@keyframes breadbflow{
							from{transform:rotate(0deg)}
							from{transform:rotate(-2deg)}
						}
						@keyframes breadcflow{
							from{transform:rotate(3deg)}
							from{transform:rotate(-2deg)}
						}
						@keyframes fruitflow{
							from{transform:rotate(5deg)}
							from{transform:rotate(-5deg)}
						}
					}
					.basket_settin{
						.customize_basket{
							width:200px;
							height:194px;
						}
						//.goto_activity_step_basket{

						//}
						.goto_activity_step_basket_front{
							position:absolute;
							left:0;
							right:0;
							margin:auto;
						}
					}
					.tableware_settin{
						top:50px;
						right:0;
						position:absolute;
						.chopping_board{
							width:256px;
							height:256px;
							animation:step3choppingboardflow 3s 0 infinite linear alternate;
						}
						.food{
							width:270px;
							bottom:0;
							position:absolute;
							.cookies_a{
								display:inline-block;
								width:80px;
								height:68px;
								animation:cookiesaflow 3s 0 infinite linear alternate;
							}
							.cookies_b{
								display:inline-block;
								width:80px;
								height:68px;
								animation:cookiesbflow 3s 0 infinite linear alternate;
							}
							@keyframes cookiesaflow{
								from{ transform: translateX(-10px) translateY(5px) skew(-1deg) scale(1)}
								to{ transform: translateX(-10px) translateY(5px) skew(2deg) scale(1.06)}
							}
							@keyframes cookiesbflow{
								from{ transform: translateY(15px) skew(-2deg) scale(1)}
								to{ transform: translateY(15px) skew(4deg) scale(1.06)}
							}
						}
						.fork_settin{
							width:160px;
							height:160px;
							position:absolute;
							top:-30px;
							right:-30px;
							transform-orgin: 160px 0;
							animation:step3forkflow 3s 0 infinite linear alternate;
						}
						.spoon_settin{
							width:160px;
							height:160px;
							position:absolute;
							top:10px;
							right:-70px;
							transform-orgin: 0px 160px;
							animation:step3spoonflow 3s 0 infinite linear alternate;
						}
						@keyframes step3forkflow{
							from{ transform: rotate(0deg) scale(1)}
							to{ transform: rotate(5deg) scale(1.05)}
						}
						@keyframes step3spoonflow{
							from{ transform: rotate(12deg) scale(1.02)}
							to{ transform: rotate(20deg) scale(1.06)}
						}
						@keyframes step3choppingboardflow{
							from{ transform: skew(0deg) scale(1)}
							to{ transform: skew(5deg) scale(1.06)}
						}
					}
				}
			}
		}
	}
}
.teamstory__introduction{
	width:100%;
	position:relative;
	z-index:1;
	.teamstorybg_settin{
		width:100%;
		height:724px;
		position:absolute;
		overflow:hidden;
		z-index:-1;
		.mountain_settin{
			width:2748.5px;
			height:362px;
			position:absolute;
			bottom:0;
			animation: mountainmove 120s 0 infinite linear alternate both;
		}
		@keyframes mountainmove{
			0%{transform:translateX(0)}
			50%{transform:translateX(-1000px)}
			100%{transform:translateX(-1400px)}
		}
		.paper_bg{
			width:100%;
			height:100%;
			background-image:url('../scss/img/auimg/paperBG.png');
			position:absolute;
			top:0;
		}
	}
	.container{
		width:100%;
		height:724px;
		max-width:1200px;
		margin:auto;
		position:relative;
		h2{
			width:500px;
			height:89px;
			line-height:89px;
			margin: 5px auto 20px;
			//background-color:#F7E9C3;
			position:relative;
			.title_bg{
				width:359px;
				height:89px;
				position:absolute;
				top:0;
				left:0;
				right:0;
				margin:auto;
				z-index:-1;
			}
		}
		.context{

			.member{
				width:400px;
				margin:auto;
				padding:15px 0 0;
				.portrait{
					display:block;
					width:200px;
					height:200px;
					margin:auto;
				}
				.txt{
					padding:5px 0;
					p{
						padding:10px 15px 0;

					}
				}
				.to_personweb{
					width:300px;
					height:100px;
					line-height:80px;
					margin:auto;
					position:relative;
					.person_web_button{
						width:174px;
						height:97px;
						position:absolute;
						top:0;
						left:0;
						right:0;
						margin:auto;
						z-index:-1;
					}
				}
			}
		}
	}
}
}
