
@import "basic/var1.scss";
@import "mixins/mixin1.scss";
@import "page/moblie.scss";
@include title-modules(
h1 rgba(0,0,0,1) 12px 'font_title',
h2 rgba(0,0,0,.8) 48px 'font_title',
h3 rgba(0,0,0,.6) 36px font_title,
h4 rgba(0,0,0,.4) 28px font_title,
h5 rgba(0,0,0,.3) 20px font_title,
p rgba(0,0,0,.3) 16px font_p,
);

//2.bg-image(使用在不同版面或rwd)
$value: fontP, itemP, productsP, iteamP;

@each $img in $value {
    .#{$img}-bg {
    background-image: url("./img/#{$img}.jpg");
    width: 300px;
    }
}

//header
// cloud animation
header{
position:fixed;
width:100%;
    .header_cloud{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        position: relative;
        overflow: hidden;
        background: url('/scss/img/GengImg/background-grid.png');
        background-size: cover;
        // background-color: #f9f9e6;
    .cloudF{
        width: 3500px;
        height: 3450px;
        border-radius: 50%;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        position: absolute;
        // opacity: .5;
        left: -600px;
        top:  -3390px;
        animation: cloudF 25s infinite linear;
        &::before{
            content: '';
            width: 3500px;
            height: 3450px;
            border-radius: 50%;
            background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
            // opacity: .5;
            position: absolute;
            left: 0;
            top:  0;
          // outline: 2px solid #f00;
            animation: cloudF 27s infinite linear;
        }
    }
    @keyframes cloudF {
        form{ transform: rotate(0deg); }
        to{ transform: rotate(360deg); }
    }
    .cloudB{
        width: 3500px;
        height: 3450px;
        border-radius: 50%;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        position: absolute;
        // opacity: .8;
        left: -1350px;
        top:  -3390px;
        animation: cloudB 25s infinite linear;
        &::before{
            content: '';
            width: 3500px;
            height: 3450px;
            border-radius: 50%;
            background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
            // opacity: 1;
            position: absolute;
            right: 0;
            top:  0;
            // outline: 2px solid #f00;
            animation: cloudB 27s infinite linear;
        }
    }
    @keyframes cloudB {
        form{ transform: rotate(0deg); }
        to{ transform: rotate(360deg); }
    }
    .cloudR{
        width: 3500px;
        height: 3450px;
        border-radius: 50%;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        position: absolute;
        // opacity: .5;
        left: 0px;
        top:  -3390px;
        animation: cloudR 25s infinite linear;
        &::before{
            content: '';
            width: 3500px;
            height: 3450px;
            border-radius: 50%;
            background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
            // opacity: .5;
            position: absolute;
            left: 0;
            top:  0;
            // outline: 2px solid #f00;
            animation: cloudR 27s infinite linear;
        }
    }
    @keyframes cloudR {
        form{ transform: rotate(0deg); }
        to{ transform: rotate(360deg); }
    }
    
}

    // navbar
    .header_container{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    // background-color: #ccc;

    .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

        .box{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // outline: 1px solid #f00;
            a{
            color: #222;
            }
            .logo{
                position: relative;

                cursor: pointer;
                width: 50px;
                // height: 90px;
                img{
                width: 100%;
                // height: 100%;
                }
                h1{
                    position: absolute;
                    top: 0;
                    display: none;
                }
            }
        }
        .content_icon{
            width: 10%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        .user_pic, .store_pic{
            cursor: pointer;
            width: 35px;
            height: 35px;
        }
            img{
            width: 100%;
            height: 100%;
            }
        }
    }
    }    
}


// footer
// bg
.footer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 220px;
    background-image: 
    url(/scss/img/GengImg/footerIamge.png),
    url(/scss/img/GengImg/background-grid.png);
    background-size: cover;

    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 200px;
        // outline: 1px solid #f00;

        .box{
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;
            height: 100%;
            // outline: 1px solid #f00;

            .item_txt{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column nowrap;
                width: 350px;
                height: 200px;

                p{
                    font-size: 21px;
                    line-height: 1.5;
                    // background-color: #f2c4BB;
                    color: #522411;
                }
            }
        }
    }
}