// @import "base/resret1.scss";
@import "basic/var1.scss";
@import "mixins/mixin1.scss";
// @import "layout/footer1.scss";
// @import "layout/header1.scss";
// @import "layout/sidebar1.scss";
@import "page/moblie.scss";

//1. title字體顏色字型
// @mixin title_modules($list...) {
//   @each $title, $fontSize, $color, $fontFamily in $list {
//     #{$title} {
//       font-size: $fontSize;
//       color: $color;
//       font-family: $fontFamily;
//     }
//   }
// }

@include title-modules(
  h1 rgba(0, 0, 0, 1) 12px "font_title",
  h2 rgba(0, 0, 0, 0.8) 48px "font_title",
  h3 rgba(0, 0, 0, 0.6) 36px font_title,
  h4 rgba(0, 0, 0, 0.4) 28px font_title,
  h5 rgba(0, 0, 0, 0.3) 20px font_title,
  p rgba(0, 0, 0, 0.3) 16px font_p
);

//2.bg-image(使用在不同版面或rwd)
$value: fontP, itemP, productsP, iteamP;

@each $img in $value {
  .#{$img}-bg {
    background-image: url("./img/#{$img}.jpg");
    width: 300px;
  }
}

//3.使用在卡片
// @mixin card-color($classname, $width, $height, $bgc, $margin, $border: null) {
//   #{$classname} {
//     background-color: $bgc;
//     width: $width;
//     height: $height;
//     margin: $margin;
//     border: $border;
//     @content;
//   }
// }

// @include card-color(".box", 500px, 400px, pink, 10px, 3px solid deeppink);

//4.隔線系統
// @mixin grid($num) {
//   @for $i from 1 through $num {
//     .col-md-#{$i} {
//       width: ($i/$num) * 100%;
//     }
//   }
// }

@include grid(12);

//5.前綴字
// @mixin box-sizing($border-model) {
//   -webkit-box-sizing: $box-model;
//   -moz-box-sizing: $box-model;
//   box-sizing: $box-model;
// }
// .boxSizing {
//   @include box-sizing(border-box);
// }

//6擴充物件
.txt {
  font-size: 20px;
  color: green;
  padding: 10px;
}
//可以用@extend.txt

//7.RWD

// $mb: 767px;
// $md: 996px;
// $dsk: 997px;
// @mixin rwd($breakpoint) {
//   @if $breakpoint==mobile {
//     @media all and (max-width: $mb) {
//       @content;
//     }
//   } @else if $breakpoint==medium {
//     @media all and (min-width: $md) {
//       @content;
//     }
//   } @else if $breakpoint==desktop {
//     @media all and (min-width: $dsk) {
//       @content;
//     }
//   }
// }

@include rwd(mobile) {
  body {
    font-size: 16px;
  }
}
@include rwd(medium) {
  body {
    font-size: 16px;
  }
}
@include rwd(desktop) {
  body {
    font-size: 16px;
  }
}

// header
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  // outline: 1px solid #f00;
}

.index_wrapper {
  width: 100%;
  height: 800px;
}

// cloud animation
.cloud {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: relative;
  overflow: hidden;
  // background-color: #f9f9e6;

  .cloudF {
    width: 3500px;
    height: 3450px;
    border-radius: 50%;
    background-color: #7db9de;
    position: absolute;
    opacity: 0.5;
    left: -600px;
    top: -3390px;
    animation: cloudF 25s infinite linear;

    @keyframes cloudF {
      form {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    &::before {
      content: "";
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-color: #3a8fb7;
      opacity: 0.5;
      position: absolute;
      left: 0;
      top: 0;
      // outline: 2px solid #f00;
      animation: cloudF 27s infinite linear;
    }
  }
  .cloudB {
    width: 3500px;
    height: 3450px;
    border-radius: 50%;
    background-color: #ddf;
    position: absolute;
    // opacity: .8;
    left: -1350px;
    top: -3390px;
    animation: cloudB 25s infinite linear;

    @keyframes cloudB {
      form {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    &::before {
      content: "";
      width: 3500px;
      height: 3450px;
      border-radius: 50%;
      background-color: #fdf;
      // opacity: 1;
      position: absolute;
      right: 0;
      top: 0;
      // outline: 2px solid #f00;
      animation: cloudB 27s infinite linear;
    }
  }
}

// navbar
.container {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: #ccc;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .box {
      width: 700px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // outline: 1px solid #f00;
      a {
        color: #222;
      }
      .logo {
        width: 50px;
        height: 90px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .content_icon {
      width: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .user_pic,
      .store_pic {
        width: 35px;
        height: 35px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
